@model RockPub.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Place)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Place.PlaceId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsCompleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsCompleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsPaid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.StaffId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<h4>Dishes in order</h4>

<div class="form-group">
    <button class="btn btn-primary" onclick="createPDF('Order №@Model.OrderId')">Print order</button>
</div>

<div id="print">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DishOrders.First().Dish.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DishOrders.First().Dish.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DishOrders.First().Dish.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DishOrders.First().Dish.Cost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DishOrders.First().Dish.Kilocalories)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DishOrders.First().Dish.Protein)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DishOrders.First().Dish.Fat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DishOrders.First().Dish.Carbohydrates)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DishOrders.First().Dish.Weight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DishOrders.First().Dish.CreateDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DishOrders.First().Dish.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DishOrders.First().Quantity)
                </th>
                <th class="createPdfBlock"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DishOrders)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Dish.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dish.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dish.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dish.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dish.Kilocalories)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dish.Protein)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dish.Fat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dish.Carbohydrates)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dish.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dish.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dish.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td class="createPdfBlock">
                    <a asp-action="Details" asp-controller="Dishes" asp-route-id="@item.Dish.DishId">Details</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>