@model RockPub.Models.Hall

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hall</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HallName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HallName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HallId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<h4>Places in hall</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Places.First().PlaceNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Places)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaceNumber)
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Places" asp-route-id="@item.PlaceId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
